<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>All your chats here</h2>
    <form action="/chats/new" method="get">
        <button>New Post</button>
    </form>
    <% for( let chat of chats ) { %>
        <div class="chat">
            <p>From: <i> <%=chat.from %></i>
            </p>
            <div class="msg">
                <p>Messgae: <%=chat.msg %>
                </p>
                <form action="/chats/<%= chat.id%>/edit" method="get">
                    <button>Edit</button>
                </form>
                <form action="/chats/<%= chat.id%>?_method=delete" method="post">
                    <button>Delete</button>
                </form>
                <form action="/chats/<%= chat.id%>" method="get">
                    <button>Show</button>
                </form>
            </div>
            <p>received by <i><%=chat.to %></i>
            </p>
            <hr>
            <%=chat.created_at.toString().split(" ")[4] %> <br>
            <%=chat.created_at.toString().split(" ").slice(0,4).join("-") %>
        </div>
        <br> <br>
        <% } %>
</body>

</html>